<style>
    body{
        background-color: blanchedalmond;
    }
    .button-container{
        box-sizing: border-box;
    }
    button{
        background-color: blueviolet;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    .button-content-container{
        background-color: blueviolet;
    }
    .button-content{
        color: #fff;
    }

</style>

<div class="button-container">
    <button>
        <div class="button-content-container">
            <span class="button-content">1</span>
        </div>
    </button>
</div>